<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Game of Life Kata</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Game of Life SRP Kata!</h1>
                <h2>Learn about the Single Responsibility Principle and applying it to the Game of Life.</h2>
            </hgroup>
            <p>
                To do.
            </p>
            <p>
                Here's some more resources that may be of use:
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" title="Wikipedia - Conway's Game of Life">Wikipedia - Conway's Game of Life</a></li>
                    <li><a href="http://www.objectmentor.com/resources/articles/srp.pdf" title="Object Mentor's - SRP Chapter">Object Mentor's SRP PDF</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Debug this solution</h5>
                This will help you explore how the solution works, and the path way through it.
            </li>

            <li class="two">
                <h5>Analyse classes that break the SRP</h5>
                They shouldn't be too hard to find!
            </li>
            <li class="three">
                <h5>Fix the SRP breakages</h5>
                Don't forget to use TDD!
            </li>
        </ol>
    </section>
</div>
